/*
 * This is for global css usage.
 */

 /* 以下數行是用來覆寫 antd 預設 <Modal> 的 style */
 /* 參考資料: https://stackoverflow.com/questions/68469089/how-to-change-styles-in-modal-of-antd */
.surveyModalStyle .ant-modal-body {
  padding: 0;
}

.survey-input-disabled {
  color: rgba(0, 0, 0, 0.5) !important;
}

.survey-rating-selected {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: #19b394 !important;
  border-color: #19b394 !important;
}

.survey-radiogroup-disable {
  --foreground-disabled: rgba(0, 0, 0, 0.5);
  // color: rgba(0, 0, 0, 0.5) !important;

  // label {
  //   color: rgba(0, 0, 0, 0.5) !important;
  // }
}
/* 以上數行是用來覆寫預設的 style */

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', 'PingFangTC-Regular', 'Microsoft JhengHei',
    'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  outline: none;

  --foreground-disabled: rgba(0, 0, 0, 0.5);
  --border: rgba(0, 0, 0, 0.3);
}

body,
input,
select,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans TC', 'PingFangTC-Regular', 'Microsoft JhengHei',
    sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #f9f7f2;
}

textarea,
input {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  border-radius: 0;

  &::placeholder {
    color: var(--light-gray);
  }
}

input {
  width: 100%;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    margin: 0;
  }

  &:-webkit-autofill {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-shadow: 0 0 0 30px white inset;
  }

  &[type='number'] {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-appearance: textfield;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
